/* 彈跳式清單.. */
    .manu {
      padding: 20px;
      position: fixed;
      top: 0; left: 0;
      background-color: #FEEBD0;
      z-index: 99;
      width: 200px; height: 100%;
      min-width: 180px;
    }

    .manu li{
      line-height: 3.5;
    }

    .manu li a{
      color: #00676B;
      text-decoration: none;
    }

.openBtn {
  border: none;
  outline: none;
  background-color: inherit;
  align-items: left;
  color: #00676B;
  
  position: absolute;
  left:10%;
  top:66%;
} 
    .barline{
      width:100%;
      display:block;
      padding:8px 16px;
      text-align:left;
      border:none;
      white-space:normal;
      float:none;
      outline:0;
      text-align:center;
      font-size:18px!important
    }
    .side_button{
      position: fixed;
      left: 0; top: 50%;
      font-size:24px!important
      }
    .side_button button{
      position: absolute;top: 40%;
      height: 30px; width: 30px;
      color:#B7B7B7!important;
      background-color:#976D00!important
    }