* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
      margin: 0;
      padding: 0;
      list-style: none;
  }
  body{
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
}

.header{
    height: 10%;
    width:100%;

}


.icon{
    align-items: left;

    height: 10%;
    width: 10%;
}

.button{
    border: white;
    background-color: white;
    

}
.login{
    position: absolute;
    right:10%;
    top:8%;
    align-items: right;
    height: 10%;
    width:20%;
}
.topnav{
    align-items: center;
    position: absolute;
    left: 40%;
    top:5%;
   
}

  .topnav .search-container {
    align-items: center;
    left: 50%;
    height: 10%;
    
  }
  
  .topnav input[type=text] {
    padding: 8px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid black;
  }
  
  .topnav .search-container button {
    float: center;
    padding: 6px 10px;
    margin-top:2%;
    background: #ddd;
    font-size: 12px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
.bookimg{
    position: absolute;
    left:15%;
    top:50%;
    border: 1px solid black;
    padding:5%;
}

.description{
    position: absolute;
    top:127%;
    left:15%;
    width:500px;

}  
.cover{
    font-family:Permanent Marker;
    font-size: 22px;
    padding-left: -15%;

}
.watch{
    font-family: ZCOOL KuaiLe;
    font-size: 42px;
    align-items: center;
    padding-top: 3%;
   
}
.textt{
    text-align: left;
    padding-left: -50%;
}

.texttt{
    font-size: 20px;
    text-align:left;
    padding-left: 8%;
    color: tomato;
}
.magic{
    position:fixed;
    flood-opacity: inherit;
}
.picccs{
    position: absolute;
    left: 30%;
}
.showww{
    position: relative;
}

.publication{
    background-color: rgb(233, 232, 232);
}


.language{
    background-color: rgb(233, 232, 232);
}


.date{
    background-color: rgb(233, 232, 232);
}

.bookcontent{
    position: absolute;
    left:52%;
    top:42%;
}
.price{
    text-decoration: line-through;
}

.payment{
    position: absolute;
    left:1%;
    top:102%;
    border: 1px solid black;
    width:650px;
    
}
.terms{
    position: absolute;
    left:1%;
    top:135%;
    width:650px;
}

.re{
    position: absolute;
    left:1%;
    top:160%;
    width:650px;
}

.detail{  
    position: absolute;
    top:185%;
    left:1%;
    width:650px;
    font-size: 18px;
}
.reviews{
    position: absolute;
    left:1%;
    top:240%;
    width:650px;
}
.tabcontent {
    margin-top: 2%;
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.pic{
	text-align:center;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}

.write{
  width:30px;
  height:30px;
  margin-top:18px;
  margin-left:5px;
}
.apple{
  display:inline-block;
  position:relative;
  top:-65px;
  margin-left:350px;
  margin-right:30px;
}
.starul{
  margin-bottom: 3%;
  display:inline-block;
  list-style-type:none;
  font-size:22px;
  border-left:1px #AAA solid;
  padding:0;
  padding-left:15px;
  }
.starul li{
  letter-spacing:8px;
  color:#FFA007;
}
.starul b
{	color:black;}
.rewpic{
  width:70px;
  height:70px;
  display:inline-block;
  margin-top:-20px;
  margin-left:10px;
}
.rewul{
  display:inline-block;
  list-style-type:none;
  padding:0;
  padding-left:20px;
  padding-top:20px;
}
.rew{
  margin: 1% 0%;
  border-bottom:1px solid #AAA;
  position:relative;
}
.rewtxt{
  display:inline-block;
  margin-left:20px;
  padding-left:10px;
  position:relative;
  top:-15px;
  border-left:1px #AAA solid;
}	
.time{
  position:absolute;
  right:0;
  bottom:0;
}
.rew_writeclass{
  padding: 1% 0%;
  border:3px #A35353 dashed;
  display:none;
}
#star li{
  float:left; 
  width:20px; 
  height:20px; 
  margin:2px; 
  display:inline-block; 
  color:#999; 
  font-size:25px;

  cursor:pointer
  
  }
#star{
  
  list-style-type:none;
  display:inline-block;
  position:relative;
  padding:0;
      }
#star_word{
  display:none; 
  width:60px; 
  height:30px;
  font-size:22px;
  color:#d49a89;
}
#star .act{color:#FFA007}
form label{
  font-size:20px;
  font-weight:bolder;
  color:#d49a89;
  margin-left:10px;
  margin-right:5px;
}
.show {display: block;}
.rewpost{
  display:inline-block;
  width:150px;
  height:50px;
  position:relative;
  top:-20px;
  left:80px;
  border-radius:10px;
  background-color:#d49a89;
  color:#FFFFFF;
  font-size:22px;
  cursor:pointer;
  border:0;
  box-shadow:4px 4px 4px #AAA;
}
.rewpost:active {
    transform: translateY(3px);
}
.rewpost:focus{
  outline:none;
}
form input[type=retext],select,textarea
{	
  font-size:16px;
  padding:1px;
  border-radius:5px;
  border:1px solid #d49a89;
}
form input[type=retext],select,textarea:focus
{
  outline:none;
}

@-webkit-keyframes fadeEffect {
from {opacity: 0;}
to {opacity: 1;}
}




.imformation{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.rightimfor{
    text-align: center;
    margin: 3% 0%;
    line-height: 25px;
}
.rightimfor h1{
    font-size: 36px;  
}
.rightimfor h2{
    margin-top: 3%;
}
.rightimfor p{
    margin-top: 3%;
    font-size: 20px;
    line-height: 180%;
}

/* 頁尾的設定 */

.footer {
    position:relative;  
    bottom: 0%;
    height: 300px;
    margin: 0;
    justify-content:space-between;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #E6F1D8;
  }
  
  .footer_wrap {
    display: flex;
    justify-content: space-around;
    line-height: 2;
  }
  
  .footer_copyright {
    position: relative;
    bottom: 0;
    margin-left:5%;
    width: 100%;
    color: #fff;
    background-color: #000000;
  }

  #myBtn {

    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#bfccd0;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #dabfa5;
  }
  
.w3-dropdown-click,.w3-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.w3-dropdown-hover:hover .w3-dropdown-content{display:block}
.w3-dropdown-hover:first-child,.w3-dropdown-click:hover{background-color:#ccc;color:#000}
.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{background-color:#ccc;color:#000}
.w3-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.w3-check,.w3-radio{width:24px;height:24px;position:relative;top:6px}
.w3-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{width:100%}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-main,#main{transition:margin-left .4s}
.w3-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.w3-bar{width:100%;overflow:hidden}.w3-center .w3-bar{display:inline-block;width:auto}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{position:static;float:left}
