.product_manu{
      max-width: 1100px;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 20px  50px;
      background-color: #B7B7B7;
      position: relative;
    }  
  .product_manu_title{
    width: 800px;
    height: 50px;
    background-color: #00676B;
    color: #ffffff;
    font-weight: bolder;
    position: absolute;
    left: 100px; top: -20px;
  }
/* 這邊是(新)總商品的設定 */
.newbook_wrap{
  background-color: #00676B;
  height: 400px;
  width: 800px;
  margin: 60px auto;
  transform: translateX(0px);
  animation: move-1 0.8s cubic-bezier(.79, .09, .13, .9) forwards;
}
.top_wrap {
  background-color: #A095C4;
  height: 400px;
  width: 800px;
  margin: 60px auto;
  transform: translateX(0px);
  animation: move-1 0.8s cubic-bezier(.79, .09, .13, .9) forwards;
}

@keyframes move-1{ 
    0% {
      transform: translateX(1000px);
    }
}
@keyframes move-2{
  0% {
    transform: translateX(1000px);
  }
}

.newbook_wrap h2{
  color: #ffffff;
  position: absolute;
  left: 80%;
  margin-top: 180px;
}
.top_wrap h2 {
  color: #ffffff;
  position: absolute;
  left: 80%;
  margin-top: 180px;
}

.newbook_wrap img{
  width: 600px;
  height: 400px;
  float: left;
  
}
.top_wrap img {
  width: 600px;
  height: 400px;
  float: left;
}
.newbook_contant{
  position: relative;

}



  /* 這是首頁的開頭那邊的設定 */
  .product_contant{
    margin-top: 50px;
    position: relative;
    
  }

  .product_contant img{
    max-width: 500px;
    max-height: 333px;
    float: left;
    animation: word1 1s;
  }
  @keyframes word1 {
    100% {
      transform: translateX(0px);
    }

    0% {
      transform: translateX(-2000px);
    }
  }

.hot_vedio{
  /* margin: 50px 0 30px 260px; */
  margin: 40px 250px;
  outline: 20px solid #ffffff;
}
/* 這是新品那邊的設定 */
  .product_contant_text {
    height: 350px;
    position: absolute;
    left: 520px;    
  }
  .product_contant_text h2 {
    color: #778899 ;
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 800;
    animation: word2 1.2s;
  }
  @keyframes word2 {
    100% {
      transform: translateY(0px);
    }

    0% {
      transform: translateY(5000px);
    }
  }

  .product_contant_text p {
    color: #898989;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.8;
    animation: word3 1.5s;
  }
  @keyframes word3 {
    100% {
      transform: translateX(0px);
    }

    0% {
      transform: translateX(2000px);
    }
  }

  /* 這邊是商品內容的設定 */
  .product_manu_caption{
    font-size: 28px;
    font-weight: bold;
    margin-top: 15px;
    color: #ffffff;
    justify-content: left;
  }

  .product_manu table{
    border: 2px solid #ffffff;
  }
  .product_manu td{
    text-align: center;
    border: 2px solid #ffffff;
    padding: 20px 20px;
    width: 225px;
  }

  .product_manu img{
    height: 220px;width: 200px;
  }


  /* 購買圖片的特效 */
  .text
    {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .textcontant {
    font-weight: 900;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ECECEC;
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

  }

  .textcontant p {
    font-size: 22px;
    font-weight: bold;
    color: #8B0016;
  }


  .textcontant:hover

  /*首頁的圖片特效*/
    {

    opacity: 1;
    transition: 0.8s;
    transition: 1s;
  }


