.product_manu{
      max-width: 1100px;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 20px  50px;
      background-color: #B7B7B7;
      position: relative;
    }  
  .product_manu_title{
    width: 800px;
    background-color: #00676B;
    color: #ffffff;
    position: absolute;
    left: 100px; top: -5px;
  }
  .product_manu_caption{
    font-size: 28px;
    font-weight: bold;
    margin-top: 15px;
    color: #ffffff;
    justify-content: left;
  }

  .product_manu table{
    border: 2px solid #ffffff;
  }
  .product_manu td{
    text-align: center;
    border: 2px solid #ffffff;
    padding: 20px 20px;
    width: 225px;
  }

  .product_manu img{
    height: 220px;width: 200px;
  }