* {
    box-sizing: border-box;

  }

  /*body {
      background-image: url(../FINAL/img/background-5.jpg);
      background-repeat: no-repeat;
      background-position: center;

    }*/

   header {
      width: 80%;
      margin-left: 12%;
    }


  .button{
    border: white;
    background-color: #ffffff00;    
    text-decoration: cornsilk;


}

  .login{
    position: absolute;
    right:80%;
    top:8%;
    align-items: right;
    height: 25%;
    width:20%;
}

.wishlist{
    position: absolute;
    right:3%;
    top:18%;
    align-items: right;
    height: 15%;
    width:20%;
  }
  
  .cartt{
    position: absolute;
    right:-6%;
    top:18%;
    align-items: right;
    height: 15%;
    width:20%;
  }

  #regForm {
    background-color: #fdfdff6b;
    margin: 50px auto;
    font-family: Raleway;
    padding: 50px;
    width: 40%;
    min-width: 200px;
  }
  
  h1 {
    text-align: center;  
  }
  
  input {
    padding: 15px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  button {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }

  #myInput{
    padding: 1px;
  }
  
  .bb{
    background-color: #575757;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    font-size: 5px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }

  .form-container {
    width: 40%;
    padding: 10px;
    background-color:  #cccccca8;
}
.form-container textarea {
    width: 80%;
    padding: 5%;
    margin: 5%;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}
.form-container .btn {
    background-color:  #557571;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    margin-bottom:10px; 
  }
.form-container .cancel {
    background-color: #d49a89 ;
}
.btnbtw{
      display: flex;
      justify-content: space-evenly;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; 
}
.overlay-content {
    display: flex;
    justify-content: center;
    margin-top: 12%;
    width: 100%;
    text-align: center;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}
.overlay .closebtn:hover {
    color: #ccc;
}
.form-container h1{
    margin-top: 2%;
    font-size: 60px;
}


#myBtn {

  position: fixed;
  top: 2000px;
  right: -30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#44a2bea4;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #a5a6dae3;
}



/* 頁首的設定 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "微軟正黑體";
}

.head {
  height: 200px;
  max-width: 1300px;
  margin: auto;
  background-color: #374663;
  position: relative;
}

.head_icon img {
  position: absolute;
  left: 8%;
  top: 20%;
  width: 180px;
  height: 100px;
}

.header_list{
  position: absolute;
  left: 8%; top: 80%;
  font-size: 18px;  
}
.header_list span{
  border-bottom: 2px dotted #008000;
}

.head_slogn {
  position: absolute;
  top: 20%;
  left: 35%;
  height: 80px;
  width: 25%;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.head_search {
  position: absolute;
  top: 20%;
  left: 75%;
}

.head_decoration {
  position: absolute;
  top: 30%;
  left: 67%;
  height: 120px;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.head_decoration img {
  height: 100%;
  width: 100%;
  max-height: 100px;
  max-width: 100px;
  
}

/* 頁尾的設定 */

.footer {
  height: 250px;
  max-width: 1100px;
  margin:auto;
  padding: 15px 50px 20px;
  background-color: #a9a9a9;
  position: relative;
}
.footer h4{
  font-size: 25px;
  font-weight: 900;
  color: #fff;
}
.footer a {
  font-size: 20 px;
  font-weight: 500;
  color: #fff;
}
/* 
.footer_wrap {
  
  line-height: 2;
} */

.footer_wrap{
  display: flex;
  justify-content: start;
  margin-left: 10%;
  line-height: 2;
}

.footer_copyright {
  position: absolute;
  bottom: 0; 
  left: 120px;
  color: #fff;
  background-color: #000000;
}

/* new head */
.login {
  position: relative;
  top: 5px;  
}
#profile{
  height: 80px;
  width: 80px;
  background-color: #94A7AE;
  border: none;
  margin-top: 3px;
}
.button{
  
  background-color: #94A7AE; 
  border: none;;
}


/* 頁首的設定 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "微軟正黑體";
}

.head {
  height: 200px;
  max-width: 1200px;
  margin: auto;
  background-color: #374663;
  position: relative;
}

.head_icon img {
  position: absolute;
  left: 8%;
  top: 20%;
  width: 180px;
  height: 100px;
}

.header_list{
  position: absolute;
  left: 8%; top: 80%;
  font-size: 18px;  
}
.header_list span{
  border-bottom: 2px dotted #008000;
}



.head_search {
  position: absolute;
  top: 20%;
  left: 75%;
}

.head_decoration {
  position: absolute;
  top: 30%;
  left: 67%;
  height: 120px;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.head_decoration img {
  height: 100%;
  width: 100%;
  max-height: 100px;
  max-width: 100px;
  
}

/* 頁尾的設定 */

.footer {
  height: 250px;
  max-width: 1100px;
  margin:auto;
  padding: 15px 50px 20px;
  background-color: #a9a9a9;
  position: relative;
}
.footer h4{
  font-size: 25px;
  font-weight: 900;
  color: #fff;
}
.footer a {
  font-size: 20 px;
  font-weight: 500;
  color: #fff;
}
/* 
.footer_wrap {
  
  line-height: 2;
} */

.footer_wrap{
  display: flex;
  justify-content: start;
  margin-left: 10%;
  line-height: 2;
}

.footer_copyright {
  position: absolute;
  bottom: 0; 
  left: 120px;
  color: #fff;
  background-color: #000000;
}


/* new head */
.login {
  position: relative;
  top: 5px;  
}
#profile{
  height: 80px;
  width: 80px;
  background-color: #374663;
  border: none;
}
.button{
  
  background-color: #94A7AE; 
  border: none;;
}*{
    margin: 0;
    padding: 0;
    list-style: none;

}
body {
    font-family: '微軟正黑體',Arial,'標楷體';
    margin: 0px; 
    opacity: 0.8;
    width: 90%;
    margin-left: 5%;
}


label{vertical-align:middle}
.inputcheckbox{vertical-align:middle;}
       
.qq{
    font-family:  Dancing Script;
    font-size: 32px;
}


  .all{
      width: 90%;
      display: flex;
      justify-content: space-evenly;
  }
  .right-tab{
    margin-top: 5%;
      width: 30%;      
      height: 100%;
      
  }
  .left-tab{
      margin-top: 2%;
      width: 70%;
      height: 100%;
      
  }

.tablink {
    background-color:#eceae1; 
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    width: 100%;
    padding: 5% 0%;
    height: 100%;
  }
  
.tablink:hover {
    background-color:#ded2c2; 
  }

.tabcontent {
    color: white;
    padding: 10%;
    height:70%;
}
.tabcontent h2{
      font-size: 54px;
}
.tabcontent h3{
    font-size: 32px;
    padding-bottom: 5%;
}

.panel{
    width: 100%;
    background-color:#eceae1; 
    color: #000;
    opacity: 0.7;
    display: flex;
    justify-content: center;
}
.panel p{
      font-size: 24px;
      padding: 2% 25%;
      line-height: 150%;
}
.all{
      width: 100%;
}
  #BK {background-color:#c791d870;}
  #shop {background-color: #DDB7AB;}
  #send {background-color: #a19f89;}
  #invoice {background-color:#729598;}

  /*結束*/


  /*Serene shop開始*/
  .log {
    border: 3px solid #f1f1f1;
    padding: 70px 30px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container input[type=text],[type=email], input[type=password] {
  width: 50%;
  margin: 10px 0px 20px 0px;
  padding: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/*登入按鈕*/
.sub {
    background-color:rgb(203, 196, 223);
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 20%;
    margin-top: 20px;
    font-size: 15px;
    
  }
  
  .sub:hover {
    opacity: 0.8;
  }

  .container {
    padding: 16px;
  }
  .container p{
      font-size: 20px;
  }
  p{
      font-size: 16px;
  }
  .member{
      display: flex;
      justify-content: left;
  }
  
  .member p{
      font-size: 32px;
  }
  .member img{
      width: 50px;
      height: 40px;
  }
  .two2{
      display: flex;
      justify-content: space-evenly;
  }
  .two2 p{
      margin: 10px 0px 20px 0px;
  }
  .remember{
      margin-left: 10%;
  }
  


  table{
    
    
   margin-top: 5%;
    border-collapse: collapse;
    font-size: 20px;
    border: 3px solid #f1f1f1;

   }
   
   .nitem1{
       display: flex;
       justify-content: center;
     
   }
   
   th{
       
       border: none;
   }
   td{
       border: none;
   }
   .two2 h4{
    font-size: 20px;
    margin-bottom: 5%;
   }
   
/*shop結束*/

  /*版權*/
  .co{
    text-align: center;
    background-color: #ded2c2;
    padding-bottom: 2%;
  }

  #myBtn {

    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#44a2bea4;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
  
#myBtn:hover {
    background-color: #b6daa5e3;
}


/* 頁首的設定 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "微軟正黑體";
}

.head {
  height: 200px;
  max-width: 1200px;
  margin: auto;
  background-color: #374663;
  position: relative;
}

.head_icon img {
  position: absolute;
  left: 8%;
  top: 20%;
  width: 180px;
  height: 100px;
}

.header_list{
  position: absolute;
  left: 8%; top: 80%;
  font-size: 18px;  
}
.header_list span{
  border-bottom: 2px dotted #008000;
}

.head_search {
  position: absolute;
  top: 20%;
  left: 75%;
}

.head_decoration {
  position: absolute;
  top: 30%;
  left: 67%;
  height: 120px;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.head_decoration img {
  height: 100%;
  width: 100%;
  max-height: 100px;
  max-width: 100px;
  
}

/* 頁尾的設定 */

.footer {
  height: 250px;
  max-width: 1100px;
  margin:auto;
  padding: 15px 50px 20px;
  background-color: #a9a9a9;
  position: relative;
}
.footer h4{
  font-size: 25px;
  font-weight: 900;
  color: #fff;
}
.footer a {
  font-size: 20 px;
  font-weight: 500;
  color: #fff;
}
/* 
.footer_wrap {
  
  line-height: 2;
} */

.footer_wrap{
  display: flex;
  justify-content: start;
  margin-left: 10%;
  line-height: 2;
}

.footer_copyright {
  position: absolute;
  bottom: 0; 
  left: 120px;
  color: #fff;
  background-color: #000000;
}
#profile{
  height: 80px;
  width: 80px;
  background-color: #94A7AE;
  border: none;
  margin-top: 3px;
}


@media screen and (max-width:414px) {
  body{
    max-width: 414px;
  }
  * {
    box-sizing: border-box;

  }

  /*body {
      background-image: url(../FINAL/img/background-5.jpg);
      background-repeat: no-repeat;
      background-position: center;

    }*/

 

  .button{
    border: white;
    background-color: #ffffff00;    
    text-decoration: cornsilk;


}

  .login{
    position: absolute;
    right:80%;
    top:8%;
    align-items: right;
    height: 25%;
    width:20%;
}

.wishlist{
    position: absolute;
    right:3%;
    top:18%;
    align-items: right;
    height: 15%;
    width:20%;
    display: none;
  }
  
  .cartt{
    position: absolute;
    right:-6%;
    top:18%;
    align-items: right;
    height: 15%;
    width:20%;
        display: none;

  }

  #regForm {
    background-color: #fdfdff6b;
    margin: 50px auto;
    font-family: Raleway;
    padding: 40px;
    width: 40%;
    max-width: 390px;
    margin-left: 6px;
    margin-top: 50px;
  }
  
  h1 {
    text-align: center;  
  }
  
  input {
    padding: 15px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  button {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }

  #myInput{
    padding: 1px;
  }
  
  .bb{
    background-color: #575757;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    font-size: 5px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }

  .form-container {
    width: 40%;
    padding: 10px;
    background-color:  #cccccca8;
}
.form-container textarea {
    width: 80%;
    padding: 5%;
    margin: 5%;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}
.form-container .btn {
    background-color:  #557571;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    margin-bottom:10px; 
  }
.form-container .cancel {
    background-color: #d49a89 ;
}
.btnbtw{
      display: flex;
      justify-content: space-evenly;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; 
}
.overlay-content {
    display: flex;
    justify-content: center;
    margin-top: 12%;
    width: 100%;
    text-align: center;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}
.overlay .closebtn:hover {
    color: #ccc;
}
.form-container h1{
    margin-top: 2%;
    font-size: 60px;
}


#myBtn {

  position: fixed;
  top: 2000px;
  right: -30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#44a2bea4;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #a5a6dae3;
}



/* 頁首的設定 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "微軟正黑體";
}

.head {
  height: 200px;
  max-width: 1200px;
  margin: auto;
  background-color: #374663;
  position: relative;
  margin-left: -150px;
}

.head_icon img {
  position: absolute;
  left: 26%;
  top: 20%;
  width: 180px;
  height: 100px;
}

.header_list{
  position: absolute;
  left: 8%; top: 80%;
  font-size: 18px;  
}
.header_list span{
  border-bottom: 2px dotted #008000;
}

.head_slogn {
  position: absolute;
  top: 20%;
  left: 35%;
  height: 80px;
  width: 25%;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  display: none;
}

.head_search {
  position: absolute;
  top: 20%;
  left: 75%;
    display: none;

}

.head_decoration {
  position: absolute;
  top: 30%;
  left: 67%;
  height: 120px;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
    display: none;

}

.head_decoration img {
  height: 100%;
  width: 100%;
  max-height: 100px;
  max-width: 100px;
  
}

/* 頁尾的設定 */

.footer {
  height: 250px;
  max-width: 1100px;
  margin:auto;
  padding: 15px 50px 20px;
  background-color: #a9a9a9;
  position: relative;
  display: none;
}
.footer h4{
  font-size: 25px;
  font-weight: 900;
  color: #fff;
}
.footer a {
  font-size: 20 px;
  font-weight: 500;
  color: #fff;
}
/* 
.footer_wrap {
  
  line-height: 2;
} */

.footer_wrap{
  display: flex;
  justify-content: start;
  margin-left: 10%;
  line-height: 2;
}

.footer_copyright {
  position: absolute;
  bottom: 0; 
  left: 120px;
  color: #fff;
  background-color: #000000;
}

/* new head */
.login {
  position: relative;
  top: 5px;  
}
#profile{
  height: 80px;
  width: 80px;
  background-color: #94A7AE;
  border: none;
  margin-top: 3px;
}
.button{
  
  background-color: #94A7AE; 
  border: none;;
}




/* new head */
.login {
  position: relative;
  top: 5px;  
}
#profile{
  height: 80px;
  width: 80px;
  background-color: #374663;
  border: none;
}
.button{
  
  background-color: #94A7AE; 
  border: none;;
}*{
    margin: 0;
    padding: 0;
    list-style: none;

}
body {
    font-family: '微軟正黑體',Arial,'標楷體';
    margin: 0px; 
    opacity: 0.8;
    width: 90%;
    margin-left: 5%;
}


label{vertical-align:middle}
.inputcheckbox{vertical-align:middle;}
       
.qq{
    font-family:  Dancing Script;
    font-size: 32px;
}


  .all{
      width: 90%;
      display: flex;
      justify-content: space-evenly;
  }
  .right-tab{
    margin-top: 5%;
      width: 30%;      
      height: 100%;
      
  }
  .left-tab{
      margin-top: 2%;
      width: 70%;
      height: 100%;
      
  }

.tablink {
    background-color:#eceae1; 
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    width: 100%;
    padding: 5% 0%;
    height: 100%;
  }
  
.tablink:hover {
    background-color:#ded2c2; 
  }

.tabcontent {
    color: white;
    padding: 10%;
    height:70%;
}
.tabcontent h2{
      font-size: 54px;
}
.tabcontent h3{
    font-size: 24px;
    padding-bottom: 5%;
}

.panel{
    width: 100%;
    background-color:#eceae1; 
    color: #000;
    opacity: 0.7;
    display: flex;
    justify-content: center;
}
.panel p{
      font-size: 24px;
      padding: 2% 25%;
      line-height: 150%;
}
.all{
      width: 100%;
}
  #BK {background-color:#c791d870;}
  #shop {background-color: #DDB7AB;}
  #send {background-color: #a19f89;}
  #invoice {background-color:#729598; margin-left: -325px; max-width: 420px;}

  /*結束*/


  /*Serene shop開始*/
  .log {
    border: 3px solid #f1f1f1;
    padding: 70px 30px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container input[type=text],[type=email], input[type=password] {
  width: 50%;
  margin: 10px 0px 20px 0px;
  padding: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/*登入按鈕*/
.sub {
    background-color:rgb(203, 196, 223);
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 20%;
    margin-top: 20px;
    font-size: 15px;
    
  }
  
  .sub:hover {
    opacity: 0.8;
  }

  .container {
    padding: 16px;
  }
  .container p{
      font-size: 20px;
  }
  p{
      font-size: 16px;
  }
  .member{
      display: flex;
      justify-content: left;
  }
  
  .member p{
      font-size: 32px;
  }
  .member img{
      width: 50px;
      height: 40px;
  }
  .two2{
      display: flex;
      justify-content: space-evenly;
  }
  .two2 p{
      margin: 10px 0px 20px 0px;
  }
  .remember{
      margin-left: 10%;
  }
  


  table{
    
    
   margin-top: 5%;
    border-collapse: collapse;
    font-size: 20px;
    border: 3px solid #f1f1f1;

   }
   
   .nitem1{
       display: flex;
       justify-content: center;
     
   }
   
   th{
       
       border: none;
   }
   td{
       border: none;
   }
   .two2 h4{
    font-size: 20px;
    margin-bottom: 5%;
   }
   
/*shop結束*/

  /*版權*/
  .co{
    text-align: center;
    background-color: #ded2c2;
    padding-bottom: 2%;
  }

  #myBtn {

    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#44a2bea4;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
  
#myBtn:hover {
    background-color: #b6daa5e3;
}



#profile{
  height: 80px;
  width: 80px;
  background-color: #94A7AE;
  border: none;
  margin-top: 3px;
}
.forgot{
  width: 400px;
  width: 50%;

}


element.style {
    width: 336PX;
    margin-bottom: 15%;
}
}