


* {
    box-sizing: border-box;
  }
  .button{
    border: white;
    background-color: #ffffff00;    
    text-decoration: cornsilk;

}

  .login{
    position: absolute;
    right:80%;
    top:8%;
    align-items: right;
    height: 25%;
    width:20%;
}

.wishlist{
    position: absolute;
    right:3%;
    top:18%;
    align-items: right;
    height: 15%;
    width:20%;
  }
  
  .cartt{
    position: absolute;
    right:-6%;
    top:18%;
    align-items: right;
    height: 15%;
    width:20%;
  }
  
  body {
     background-image:url(../FINAL/img/background-5.jpg);
     background-repeat: no-repeat;
     background-position: center;
     
   
  }
  
  #regForm {
    background-color: #fdfdff6b;
    margin: 50px auto;
    font-family: Raleway;
    padding: 50px;
    width: 40%;
    min-width: 200px;
  }
  
  h1 {
    text-align: center;  
  }
  
  input {
    padding: 15px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  button {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }

  #myInput{
    padding: 1px;
  }
  
  .bb{
    background-color: #575757;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    font-size: 5px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }

  .form-container {
    width: 40%;
    padding: 10px;
    background-color:  #cccccca8;
}
.form-container textarea {
    width: 80%;
    padding: 5%;
    margin: 5%;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}
.form-container .btn {
    background-color:  #557571;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    margin-bottom:10px; 
  }
.form-container .cancel {
    background-color: #d49a89 ;
}
.btnbtw{
      display: flex;
      justify-content: space-evenly;
}
.openBtn {
    border: none;
    outline: none;
    background-color: inherit;
} 
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; 
}
.overlay-content {
    display: flex;
    justify-content: center;
    margin-top: 12%;
    width: 100%;
    text-align: center;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}
.overlay .closebtn:hover {
    color: #ccc;
}
.form-container h1{
    margin-top: 2%;
    font-size: 60px;
}

