*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: '微軟正黑體',Arial,'標楷體';
    margin: 0px; 
    background-color:#c6dfe7; 
    opacity: 0.8;
   
    width: 90%;
    margin-left: 5%;
}


label{vertical-align:middle}
.inputcheckbox{vertical-align:middle;}
       
.qq{
    font-family:  Dancing Script;
    font-size: 32px;
}


  .all{
      width: 90%;
      display: flex;
      justify-content: space-evenly;
  }
  .right-tab{
    margin-top: 5%;
      width: 30%;      
      height: 100%;
      
  }
  .left-tab{
      margin-top: 2%;
      width: 70%;
      height: 100%;
      
  }

.tablink {
    background-color:#eceae1; 
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    width: 100%;
    padding: 5% 0%;
    height: 100%;
  }
  
.tablink:hover {
    background-color:#ded2c2; 
  }

.tabcontent {
    color: white;
    padding: 10%;
    height:70%;
}
.tabcontent h2{
      font-size: 54px;
}
.tabcontent h3{
    font-size: 32px;
    padding-bottom: 5%;
}

.panel{
    width: 100%;
    background-color:#eceae1; 
    color: #000;
    opacity: 0.7;
    display: flex;
    justify-content: center;
}
.panel p{
      font-size: 24px;
      padding: 2% 25%;
      line-height: 150%;
}
.all{
      width: 100%;
}
  #BK {background-color:#c791d870;}
  #shop {background-color: #DDB7AB;}
  #send {background-color: #a19f89;}
  #invoice {background-color:#729598;}

  /*結束*/


  /*Serene shop開始*/
  .log {
    border: 3px solid #f1f1f1;
    padding: 70px 30px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container input[type=text],[type=email], input[type=password] {
  width: 50%;
  margin: 10px 0px 20px 0px;
  padding: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/*登入按鈕*/
.sub {
    background-color:rgb(203, 196, 223);
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 20%;
    margin-top: 20px;
    font-size: 15px;
    
  }
  
  .sub:hover {
    opacity: 0.8;
  }

  .container {
    padding: 16px;
  }
  .container p{
      font-size: 20px;
  }
  p{
      font-size: 16px;
  }
  .member{
      display: flex;
      justify-content: left;
  }
  
  .member p{
      font-size: 32px;
  }
  .member img{
      width: 50px;
      height: 40px;
  }
  .two2{
      display: flex;
      justify-content: space-evenly;
  }
  .two2 p{
      margin: 10px 0px 20px 0px;
  }
  .remember{
      margin-left: 10%;
  }
  


  table{
    
    
   margin-top: 5%;
    border-collapse: collapse;
    font-size: 20px;
    border: 3px solid #f1f1f1;

   }
   
   .nitem1{
       display: flex;
       justify-content: center;
     
   }
   
   th{
       
       border: none;
   }
   td{
       border: none;
   }
   .two2 h4{
    font-size: 20px;
    margin-bottom: 5%;
   }
   
/*shop結束*/

  /*版權*/
  .co{
    text-align: center;
    background-color: #ded2c2;
    padding-bottom: 2%;
  }